/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  /* background-color: lightgray; */
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* --------------------------------------------Header------------------------------------------------ */
header {
  background-color: #4617fe;
  padding-bottom: 14rem;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav .nav-item {
  margin-right: 5rem;
  margin-top: 2rem;
  color: #ffffff;
  font-size: 1.3rem;
  cursor: pointer;
}

.nav-item-active {
  margin-top: 2rem;
  margin-right: 3rem;
  background-color: #ffffff;
  color: #4617fe;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  font-size: 1.3rem;
  cursor: pointer;
}

.logo {
  margin-left: 5rem;
  cursor: pointer;
}

.fa-bars {
  display: none;
}

/* -----media query------ */

@media screen and (max-width: 800px) {
  .nav-item {
    display: none;
  }

  .fa-bars {
    display: block;
    padding-right: 2rem;
    font-size: 20px;
    color: #ffffff;
    align-self: flex-end;
    cursor: pointer;
  }

  .logo {
    margin-left: 2rem;
  }
}

/* ----------------------------------------------------------------------- */

.header-image {
  position: absolute;
  right: 0;
  top: 8rem;
}

.header-text {
  margin-top: 8rem;
  margin-left: 5rem;
}

.header-text h2 {
  font-size: 4rem;
  color: #ffffff;
}

.header-text p {
  font-size: 1.7rem;
  margin-top: 1.5rem;
  color: #ffffff;
}

.companies {
  padding-left: 8rem;
  padding-top: 2rem;
  background-color: #f0f0f3;
}
.companies a {
  color: #000000;
  font-size: 2.2rem;
  /* font-weight: bold; */
  padding-right: 5rem;
  font-family: Righteous;
}

/* -----media query---- */

@media screen and (max-width: 1200px) {
  .header-image {
    display: none;
  }

  .header-text {
    margin-left: 2rem;
  }
}

/* -----------------------------------APIs---------------------------------------- */

.api {
  padding-top: 5rem;
  background-color: #f0f0f3;
  padding-bottom: 5rem;
  /* border: 1px solid red; */
}

.api-heading {
  padding-left: 7rem;
  padding-bottom: 3rem;
  font-size: 3rem;
  font-weight: bold;
}

.cards {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 3rem 8rem;
}

.card-active {
  background-color: #ffffff;
  padding: 3rem 1.7rem;
  border-radius: 1rem;
  box-shadow: 0px 5px 1rem #000000;
}

.card-head-active {
  color: #4617fe;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.card {
  font-size: 1.5rem;
}

.card-body {
  font-size: 1.2rem;
}

.card-logo {
  cursor: pointer;
}

/* ----------------------------------Blog section----------------------------------- */
.blog-container {
  background-color: #f0f0f3;
}
.blog-heading {
  background-color: #f0f0f3;
}

.blog-heading h1 {
  font-size: 3rem;
  padding-left: 7rem;
  padding-bottom: 3rem;
}

.blog-cards {
  background-color: #f0f0f3;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
  padding-bottom: 5rem;
  width: 90%;
  margin: 0 auto;
}

.blog-card {
  display: flex;
  align-items: flex-start;
  /* border: 1px solid black; */
  position: relative;
  width: 100%;
  margin-right: 3rem;
  cursor: pointer;
}

.blog-content {
  /* border: 2px solid pink; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #ffffff;
  padding-left: 5rem;
  height: 100%;
  width: 100%;
  gap: 1.5rem 0;
  padding-top: 3rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.blog-content h6 {
  font-size: 1.2rem;
  color: #4617fe;
  font-weight: bolder;
}

.blog-content h3 {
  font-size: 2rem;
  font-weight: bold;
}
.blog-content small {
  font-size: 1.2rem;

  /* border: 1px solid red; */
}

.blog-bottom {
  position: absolute;
  bottom: -2rem;
  right: 22rem;
}

.blog-author {
  position: absolute;
  bottom: 0.6rem;
  right: 3rem;
  /* border: 1px solid red; */
  width: 50%;
  font-size: 1.3rem;
}

/* -------media query------- */

@media screen and (max-width: 1200px) {
  .blog-card {
    flex-direction: column;
    align-items: flex-start;
  }

  .blog-bottom,
  .blog-author {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .blog-cards {
    flex-direction: column;
    align-items: flex-start;
  }
}
/* ------------------------------------FAQ SECTION---------------------------------------- */

.faq-section {
  background-color: #e9edff;
  display: flex;
  justify-content: space-between;
}

.faq-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5rem;
  justify-content: space-around;
  /* border: 1px solid red; */
  height: 28rem;
}

.faq-content h2 {
  font-size: 3.5rem;
}

.faq-content h4:nth-child(2) {
  font-weight: 300;
  font-size: 1.3rem;
}

.faq-content h4:nth-child(3) {
  font-size: 1.5rem;
  font-weight: 500;
}

.faq-content button {
  background-color: #4617fe;
  color: #ffffff;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
}

@media screen and (max-width: 1150px) {
  .faq-image img {
    display: none;
  }
}

/* --------------------------------------------Download-------------------------------------------- */

.download-section {
  padding-top: 8rem;
  padding-bottom: 8rem;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.download-content h1 span {
  font-weight: 700;
  font-size: 2.5rem;
}

.download-content h1 {
  font-weight: 400;
  font-size: 2.5rem;
}

.download-email form input {
  padding-right: 20rem;
  background-color: #e9edff;
  outline: none;
  border: none;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.download-email form button {
  padding: 1.2rem 2.5rem;
  border: none;
  background-color: #4617fe;
  color: #ffffff;
  font-weight: 500;
  border-radius: 2.2rem;
  cursor: pointer;
}

form {
  background-color: #e9edff;
  padding-right: 0.3rem;
  padding-left: 2rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-radius: 2.2rem;
}

::placeholder {
  color: #000000;
}

/* ------media query----- */

@media screen and (max-width: 540px) {
  .download-email form input {
    padding-right: 1rem;
  }

  .download-email form button {
    padding: 0.6rem 1.25rem;
  }
}
/* ----------------------------------Footer Section---------------------------------- */
.footer-container {
  background-color: #4617fe;
  padding: 6rem 0;
}

.footer-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 3rem;
}

ul.list {
  display: flex;
  gap: 1rem 4rem;
  padding-top: 2rem;
  color: #ffffff;
  font-size: 1.2rem;
  cursor: pointer;
  flex-wrap: wrap;
}

.logos-list {
  display: flex;
  gap: 0 2.5rem;
  padding-top: 2rem;
  color: #ffffff;
  font-size: 1.2rem;
  cursor: pointer;
}

.footer-logos {
  padding-right: 1.5rem;
  cursor: pointer;
}

/* -----media query------ */
